* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: black;
  background-color: white;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Nanum Gothic", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
